@import url('https://fonts.googleapis.com/css2?family=Anton&family=Estonia&family=Lobster&family=Pacifico&family=Poppins:wght@400;500;600&family=Road+Rage&family=Smooch&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
@mixin border {
    background: black;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 1rem;
    border: black solid 2px;
    padding: 0rem;
    margin: 0.5rem;
    width: 20rem;
    letter-spacing: 0.5rem;
    font-family: 'Pacifico', cursive;
    display: flex;
}
body{
    background-image: url(../images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.container{
text-align: center;
justify-content: center;

#img{
    height: 10rem+5rem;
    border: transparent .5rem solid;
    border-radius: 50%;
}
.p{
    font-size: 3rem;
    color: black;
    font-weight: 900;
}
.connect{
    font-size: 2rem;
    font-weight: 900;
}
.iconss{
    margin: 1rem 39rem;
text-align: left
}
.i1{
    @include border();
    
}
i{
    color: white;
    font-size: 2em;
}

a{
    text-decoration: none;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    color: white;
   
}
a:hover{
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width:600px) {
    body{
        height: 100vh;
        background-image: url(../images/bg.jpeg);
    background-repeat: no-repeat;
        background-size: cover;
    }
.p{
    margin-top: 1rem;
    font-size: 2rem
}
.connect{
    font-size: 1rem;
}
    .iconss{
        margin: 2.2rem 2rem 2.5rem ;
    }
    img{
        height: 50px;
    }
    a{
        padding-top: 0.5rem;
    }
    .i1{
        margin-top: 1rem;
    }
    center{
        margin-top: 2rem;
    }
}
}